h1 {
  color: #2c3e50;
  text-align: center;
  margin-top: 20px;
  font-size: 36px;
}

/* center the form */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* align form labels and inputs */
.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

label {
  font-size: 18px;
  color: #34495e;
  margin-right: 10px;
  min-width: 100px;
}

select,
input[type="number"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 200px;
}

button {
  padding: 10px 20px;
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  margin-bottom: 20px;
}

button:hover {
  background-color: #c0392b;
}

/* reduce space between form and recipe list */
h2 {
  margin-top: 20px;
  text-align: center;
  color: #2c3e50;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

li {
  background-color: white;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  width: 250px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

h3 {
  color: #2c3e50;
  font-size: 20px;
  margin-bottom: 10px;
}

img {
  border-radius: 10px;
  margin-bottom: 10px;
}

#ingredients {
  background-color: #ecf0f1;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  text-align: left;
  max-width: 400px;
  margin: 20px auto;
}

#ingredients ul {
  margin-top: 0;
}

#ingredients h2 {
  color: #2c3e50;
  margin-bottom: 15px;
}

#ingredients li {
  color: #8e44ad;
  font-size: 18px;
  margin-bottom: 8px;
}
